
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>
    Hoş Geldiniz! 
    İva Sanal mağzamız kurucumuz Vakıf Yalçın tarafından kiliste yapılan ilk ve tek sanal mağaza uygulamasıdır.

    Biz, İva Sanal Mağaza olarak, benzersiz alışveriş deneyimi sunmak için çevrimiçi bir platform izledik.

    Misyonumuz, kullanıcılarımıza geniş bir ürün yelpazesi sunarak gereksinimleri karşılama, beklentileri aşmak ve keyifli bir alışveriş deneyimi yaşamalarını sağlama.

    İva Sanal Mağaza olarak, müşteri ziyareti en üst düzeyde tutmak için kaliteli ürünler en uygun fiyatları sunma konusunda karar vermeliyiz. Mağazamızda bulunan ürünler, değerlendirmeleri belirlenmiş ve kalite standartlarına uygun şekilde kontrol edilmiştir.
    Müşterilerin güvenini kazanmak ve uzun süreli rehberlik ilişkileri kurmak için güvenilir ve dürüst bir iş ortamını elde etmek ilkelerimiz arasındadır.
    İva Sanal Mağaza olarak, çeşitli kategorilerdeki ürünlerle her zevke hitap ediyoruz. Teknolojiden moda ve ev gereçlerine kadar geniş bir ürün yelpazesi sunuyoruz. 
    
    Her bir ürünümüzün gerekliliklerini karşılayacak şekilde birleştiriyoruz. Ayrıca güncel trendlere ve müşteri geri bildirimlerine göre ürün yelpazemizi sürekli olarak genişletiyoruz.

    İva Sanal Mağaza olarak, kullanıcılarımızın alışveriş deneyimini mükemmelleştirmek için kullanıcı dostu bir izlenim sunuyoruz. Kullanıcılarımız, kolayca arama yapabilir, ürünlerimizi filtreleyebilir ve istedikleri ürünlere ulaşabilirler.
    Ayrıca, güvenli ve hızlı ödeme yöntemleriyle depolama alışverişlerini düzenli bir şekilde tamamlamalarını sağlar.

    İva Sanal Mağaza olarak, müşteri memnuniyeti ve hızlı müşteri hizmetleri sunma konusunda önceliğimizdir. Sorularınız, oturmaz veya herhangi bir konuda yardıma ihtiyacınız olduğunda, dost ve uzman müşteri hizmetleri size yardımcı olmak için burada bulunmaktadır. 
    Müşteriye değer veriyor ve onu özel hissettirmek için çaba gösteriyoruz.
    Sizleri İva Sanal Mağaza'ya davet ediyoruz!  benzersiz bir  deneyim sunmak ve beklentilerinizi karşılamak için buradayız.
</p>

