@{
    ViewData["Title"] = "İletişim Bilgilerimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>
    Firma Ünvanı : Vakıf Yalçın
</p>
<p>
    Adres : BÜYÜKKÜTAH MAH.CUMHURİYET CAD.NO.27/1 İÇ
    KAPI NO.Z2 MERKEZ KİLİS
</p>
<p>
    Eposta : info@ivaheryerde.com.tr
</p>
<p>
    Tel : 0 545 680 90 16
</p>

