@model StoreAdressVM
@{
    ViewData["Title"] = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Konum</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Location" method="post">
            <input type="hidden" asp-for="DepartmentId" />
            <div class="form-group">
                <label asp-for="CityId" class="control-label">Şehir</label>

                <select asp-for="CityId" id="DrpSehir" class="form-control" asp-items="ViewBag.CityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CountyId" class="control-label">İlçe</label>
                <select asp-for="CountyId" id="Drpilce" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="DistrictId" class="control-label">Mahalle</label>
                <select asp-for="DistrictId" id="Drpmahalle" class="form-control"></select>
            </div>
            <br />
            <div class="form-group">
              @*  <a asp-action="StoreList" asp-controller="Home" asp-route-storeadressvm="@Model" class="btn btn-info">Mağazaları listele</a>*@
                @*   <input type="submit" value="Create" class="btn btn-primary" />*@
                <input type="submit" value="Mağazaları Listele" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>
@section Scripts {
    @*  @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#DrpSehir').change(function () {
                var id = $('#DrpSehir').val();
                $.ajax({
                    url: '/Customer/StoreAdress/ilcegetir',
                    data: { p: id },
                    type: "POST",
                    dataType: "Json",
                    success: function (data) {
                        console.log(data);
                        $('#Drpilce').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#Drpilce').append("<option value='" + data[i].value + "'>" + data[i].text + "</Option>");
                        }
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Drpilce').change(function () {
                var id = $('#Drpilce').val();
                $.ajax({
                    url: '/Customer/StoreAdress/mahallegetir',
                    data: { p: id },
                    type: "POST",
                    dataType: "Json",
                    success: function (data) {
                        console.log(data);
                        $('#Drpmahalle').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#Drpmahalle').append("<option value='" + data[i].value + "'>" + data[i].text + "</Option>");
                        }
                    }
                });
            });
        });
    </script>
}


