@using System.Web;
@model Iyzipay.Model.CheckoutFormInitialize
@{
    ViewData["Title"] = "Gonder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="container">
    @Html.Raw(HttpUtility.HtmlDecode(Model.HtmlContent))
</div>*@


<div id="iyzipay-checkout-form" class="responsive">
    @Html.Raw(Model.CheckoutFormContent)
</div>

